body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.o {
    color: orangered;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 70%;
}

.link-button {

    text-decoration: none;
    background-image: linear-gradient(orange tomato);
    background-color: orange;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 10px;
    border-radius: 10px;

    box-shadow: 10px 10px 40px gray;

}

#web-dev-experinece {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stack {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;

}

.experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footter p {
    text-align: center;
}

e .